body {
  background-color: #17162e;

  font-family: "Kumbh Sans", normal, sans-serif !important;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

div {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

input:placeholder-shown{
  color: #fff;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 28px;
  min-width: 600px;
  text-align: end;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
  
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item {
  height: 200px;
  margin: 20px;
}

.checkmark {
  width: 313px;
  height: 22px;
  left: 577px;
  top: 259px;
}
.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}

.inputSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 634px;
  min-height: 41px;
  min-width: 600px;
  top: 155px;
  padding: 1%;
  margin: 10px 0;
  border: #ddd solid 1px;
  opacity: 0.2;
  border-radius: 8px;
  padding: 5px 20px 5px 5px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
  min-width: 100px;
  padding: 1%;
  margin: 10px 0;
  background-color: #1d1c3b;
  border-radius: 8px;
  box-shadow: 32.8387px 24.5482px 79px rgba(0, 0, 0, 0.15),
    23.8851px 17.855px 53.2479px rgba(0, 0, 0, 0.121406),
    16.6246px 12.4276px 34.4391px rgba(0, 0, 0, 0.10125),
    10.9035px 8.15079px 21.3701px rgba(0, 0, 0, 0.0867188),
    6.56775px 4.90965px 12.8375px rgba(0, 0, 0, 0.075),
    3.46346px 2.58907px 7.6377px rgba(0, 0, 0, 0.0632813),
    1.4367px 1.07399px 4.56719px rgba(0, 0, 0, 0.04875),
    0.333519px 0.249318px 2.42246px rgba(0, 0, 0, 0.0285938);
}

.logoMovie {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.iconFavorite {
  left: 28.84%;
  right: 69.45%;
  top: 54.73%;
  bottom: 36.2%;
  color: #ba0707;
}

.iconClass {
  left: 20.26%;
  right: 78.1%;
  top: 57.71%;
  bottom: 32.83%;
  color: #d7a82f;
}
